@import "../node_modules/@angular/material/theming";

@include mat-core();

$my-primary: (
  50: #ede0fe,
  100: #d2b3fe,
  200: #b480fd,
  300: #954dfc,
  400: #7f26fb,
  500: #6800fa,
  600: #6000f9,
  700: #5500f9,
  800: #4b00f8,
  900: #3a00f6,
  A100: #ffffff,
  A200: #edeaff,
  A400: #c3b7ff,
  A700: #ae9dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-accent: (
  50: #e8e8e8,
  100: #c5c5c5,
  200: #9f9f9f,
  300: #787878,
  400: #5b5b5b,
  500: #3e3e3e,
  600: #383838,
  700: #303030,
  800: #282828,
  900: #1b1b1b,
  A100: #f07575,
  A200: #eb4747,
  A400: #ff0000,
  A700: #e60000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

//the first two are the custom palettes we declared above
$my-theme-primary: mat-palette($my-primary);
$my-theme-accent: mat-palette($my-accent);
//the third, for the warn color, is the predefined material red palette
$my-theme-warn: mat-palette($mat-red);
$my-theme-foreground: #ffffff;

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// @mixin mix-app-theme($my-theme) {
//   $primary: map-get($my-theme, $my-primary);
//   $accent: map-get($my-theme, $my-accent);

//   .mat-button-toggle {
//     background-color: mat-color($primary);
//     color: mat-color($primary, default-contrast);
//   }

//   .mat-button-toggle-disabled {
//     background-color: rgba(0, 0, 0, 0.12);
//     color: rgba(0, 0, 0, 0.26);
//   }
//   .mat-button-toggle-checked {
//     background-color: mat-color($accent);
//     color: mat-color($accent, default-contrast);
//   }
// }

@include angular-material-theme($my-theme);
