<h1 mat-dialog-title>Create Request</h1>
<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p> -->
  <div [formGroup]="requestForm">
    <mat-form-field class="width-100">
      <mat-label>Details</mat-label>
      <textarea
        matInput
        placeholder="Enter details"
        formControlName="details"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="width-30">
      <mat-label>Channel</mat-label>
      <mat-select formControlName="channel">
        <mat-option
          *ngFor="let channel of channels"
          [value]="channel.displayName"
          >{{ channel.displayName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="width-30">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option
          *ngFor="let priority of priorities"
          [value]="priority.value"
          >{{ priority.displayName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div formGroupName="poc">
      <mat-form-field class="width-30">
        <mat-label>Point of Contact</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Organization</mat-label>
        <input matInput formControlName="organization" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Phone number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input
          matInput
          type="tel"
          placeholder="888-888-8888"
          formControlName="phone"
        />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Email ID</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Party</mat-label>
        <mat-select formControlName="party">
          <mat-option
            *ngFor="let party of partyList"
            [value]="party.displayName"
            >{{ party.displayName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div formGroupName="refPoc">
      <mat-form-field class="width-30">
        <mat-label>Reference Point of Contact</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Organization</mat-label>
        <input matInput formControlName="organization" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Phone number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input
          matInput
          type="tel"
          placeholder="888-888-8888"
          formControlName="phone"
        />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Email ID</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Party</mat-label>
        <mat-select formControlName="party">
          <mat-option
            *ngFor="let party of partyList"
            [value]="party.displayName"
            >{{ party.displayName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div formGroupName="volunteer">
      <mat-form-field class="width-30">
        <mat-label>Volunteer Assigned</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Organization</mat-label>
        <input matInput formControlName="organization" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Phone number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input
          matInput
          type="tel"
          placeholder="888-888-8888"
          formControlName="phone"
        />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Email ID</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field class="width-30">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>
    </div>
    <!-- <button type="button" (click)="getForm()" [disabled]="!requestForm.valid">
      Submit
    </button> -->
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!requestForm.valid"
    [mat-dialog-close]="requestForm.value"
    cdkFocusInitial
  >
    Create
  </button>
</div>
